/* Main container definitions */
html, body, main.main-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'BlackChancery', cursive;
}

main.main-container {
  margin: 0 0 2ch 0;
}

/* Background page definitions */
body {
  background-image: url("../img/background/oldpapper4.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

/* Definitions on Section that contains forms */
section.form-container {
  width: 100%;
  float: left;
  clear: left;
}

/* Separator definitions */
hr.separator {
  width: 100%;
  border: solid 1px #000;
  margin: 4ch 0;
  display: flex;
}

/* Border top and bottom definitions with pseudo-element */
.pseudo-before-border:before, .pseudo-after-border:after {
  content: '';
  width: 100%;
  border: 1px solid;
  display: block;
  margin: 4ch 0 4ch 0;
}

/* Experience box definitions */
.exp-box {
  width: 100%;
  display: block;
  padding: 4ch 2ch;
  background-color: rgba(200, 188, 161, .5);
}

/* - - - - - - - Media query - - - - - - - */

@media screen and (max-width: 400px) {

  header.rpg-title {
    font-size: 300% !important;
  }

  header.char-caracteristics {
    font-size: 150% !important;
  }

  form {
    font-size: 100% !important;
  }

}
