/* Main container definitions */
html, body, main.main-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'MedievalSharp', cursive;
  width: 100%;
}

/* Background page definitions */
/*body {
  background-image: url("../img/backg.png");
  background-repeat: no-repeat;
  background-size: cover;
}*/

/* Main container div */
main.main-container {

}


section.form-container {
  width: 100%;
  float: left;
  clear: left;
}
